@charset "utf-8";

/* 共通 */
* {
  margin: 0;
  font-size: 16px;
}

img {
  vertical-align: bottom;
}

/* ヘッダー */
header {
  padding: 8px;
  max-width: 600px;
  margin: 0 auto;
}

h1{
  font-size: 32px;
  display: inline;
  /* background: pink; */
}

/* まほエンとは… */
.mahoenExp {
  background: rgb(182, 255, 140);
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: row-reverse;
}

.mahoenExp div{
  height: 600px;
  align-content: center;
}

.mahoenExpImg {
  width: 450px;
  background-image: url('hero.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.mahoenExp h2 {
  font-size: 24px;
  /* margin-top: 32px; */
}

.mahoenExp p {
  margin-top: 16px;
  line-height: 2;
}

#battleStart {
  all: unset;
  margin-top: 32px;
  font-size: 24px;
  padding: 8px 16px;
  background: green;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

#battleStart:hover {
  opacity: 0.7;
}

/* 注意書き */

.warning{
  padding: 16px;
  max-width: 600px;
  margin: 0 auto;
}

/* 魔法使いの約束って？ */
.mahoyakuExp {
  box-sizing: border-box;
  width: 500px;
  margin: 16px auto 0;
  padding: 16px;
  text-align: center;
  border-radius: 32px;
  background: rgb(215, 244, 255);
  border: 8px ridge rgb(140, 108, 255);
}

.mahoyakuExp h2 {
  font-size: 24px;
}

.mahoyakuExp p {
  margin: 16px 0;
}

.mahoyakuExp a {
  all: unset;
  background: rgb(185, 216, 255);
  border: 1px solid #333;
  border-radius: 8px;
  padding: 4px 8px;
  cursor: pointer;
}

.mahoyakuExp a:hover {
  background: blue;
  color: white;
}

span{
  font-weight: bold;
  color: blue;
}

footer{
  background: #222;
}

footer div{
  max-width: 600px;
  margin: 32px auto 0;
  padding: 16px;
  color: white;
}

footer p{
  display: inline;
}

.bi-twitter-x,
.bi-youtube,
.bi-envelope-heart
{
  all: unset;
  color: white;
}

/* 推奨デバイス */

.hidden {
  transform: translate(0, -1500px);
}

.mahoenHowto {
  position: fixed;
  top: 24px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  width: calc(100% - 80px);
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 8px black;
  padding: 16px;
  z-index: 3;
  transition: transform 0.4s;
}

/* 閉じるボタン */
#HowtoHidden {
  font-weight: bold;
  float: right;
}

.mahoenHowto h2 {
  font-size: 18px;
}

.mahoenHowto p {
  font-size: 12px;
  /* margin-top: 8px; */
}
.mahoenHowto div{
  padding-bottom: 8px;
}

.mahoenHowto div+div{
  border-top: 1px dotted #333;
  padding-top: 16px;
}

.mahoenHowto button{
  all: unset;
}

.mahoenHowto a {
  all: unset;
  display: block;
  margin-top: 8px;
  font-size: 16px;
  padding: 4px 8px;
  background: green;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.mahoenHowto a:hover {
  opacity: 0.7;
}



@media (max-width: 640px) {
  
/* まほエンって？ */
  .mahoenExp {
    display: block;
  }

  .mahoenExpImg {
    width: 100%;
    max-height: 250px;
  }

/* まほやくって？ */
  .mahoyakuExp {
    width: 100%;
  }

}